<div class="mt-5 text-center">
  <h1>Test task</h1>
  <p>Using Ruby on rails :)</p>
  <div class="row">
    <div class="col-md-6">
      <div class="mt-5">
        <%= link_to "Categories", categories_path, class: "home_link" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mt-5">
        <%= link_to "Posts", posts_path, class: "home_link" %>
      </div>
    </div>
  </div>
</div>
