/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 #*= require_tree .
# *= require_self
 */


@import "font-awesome";
@import "bootstrap";

/*
 *= require font-awesome
 */

.custom-button.btn {
  text-decoration: none;
  background-color: #293241;
  color: #FFF;
  border: none;
}
.custom-button.btn:hover {
  background-color: #1a212e;
}
.hero {
  height: 25vh;
  img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
  }
  .overlay {
    background: black;
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }
}

textarea {
  height: 280px;
}

div.fixed {
  height: calc(100vh - 160px);
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

a.link {
  letter-spacing: 2px;
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.text_field {
  height: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}
.text_area {
  height: 80px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}