<div class="text-center mt-5">

  <h2>
    <%= @category.name %>
  </h2>
  <h4>
  <%= @category.description %>
  </h4>
  <h2 class="mt-5">Post list</h2>
  <% @category.posts.each do |post| %>
    <p>
      <%= link_to post.name, post_path(post.id), class: "home_link" %>
    </p>
  <% end %>

</div>
